:root {
    --rojo: #ff0000;
}
body {

}
/* global styles */
section h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section p {
	font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

.hero {
    margin-bottom: 1.1rem;
}

.hero h1 {
    text-align: center;
}
.box {
    margin-bottom: 1.1rem;
}
